<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DiskSpace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <DiskSpace.Properties.Settings>
      <setting name="driveLetter" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="alwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="startMinimized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="startWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="notifyWhenSpaceChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotificationLimitGB" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="NotificationLimitActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotificatonAmountLimit" serializeAs="String">
        <value>700</value>
      </setting>
    </DiskSpace.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>