<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DiskSpace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <DiskSpace.Properties.Settings>
            <setting name="driveLetter" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyWhenSpaceChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationLimitGB" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="NotificationLimitActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificatonAmountLimit" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="mainFormLocation" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="logFileSizeMB" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FromEmailAddress" serializeAs="String">
                <value>john.doe@domainname.com</value>
            </setting>
            <setting name="ToEmailAddress" serializeAs="String">
                <value>jane.doe@domainname.com</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value>smtp.domainname.com</value>
            </setting>
            <setting name="emailUserName" serializeAs="String">
                <value>john.doe@domainname.com</value>
            </setting>
            <setting name="emailPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>587</value>
            </setting>
        </DiskSpace.Properties.Settings>
    </userSettings>
</configuration>
